@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-red: 0 0% 100%;
    --foreground-red-red: 222.2 47.4% 11.2%;

    --muted-red: 210 40% 96.1%;
    --muted-foreground-red: 215.4 16.3% 46.9%;

    --popover-red: 0 0% 100%;
    --popover-foreground-red: 222.2 47.4% 11.2%;

    --border-red: 214.3 31.8% 91.4%;
    --input-red: 214.3 31.8% 91.4%;

    --card-red: 0 0% 100%;
    --card-foreground-red: 222.2 47.4% 11.2%;

    --primary-red: 222.2 47.4% 11.2%;
    --primary-foreground-red: 210 40% 98%;

    --secondary-red: 210 40% 96.1%;
    --secondary-foreground-red: 222.2 47.4% 11.2%;

    --accent-red: 210 40% 96.1%;
    --accent-foreground-red: 222.2 47.4% 11.2%;

    --destructive-red: 0 100% 50%;
    --destructive-foreground-red: 210 40% 98%;

    --ring-red: 215 20.2% 65.1%;

    --radius-red: 0.5rem;
  }

  .dark {
    --background-red: 224 71% 4%;
    --foreground-red: 213 31% 91%;

    --muted-red: 223 47% 11%;
    --muted-foreground-red: 215.4 16.3% 56.9%;

    --accent-red: 216 34% 17%;
    --accent-foreground-red: 210 40% 98%;

    --popover-red: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border-red: 216 34% 17%;
    --input-red: 216 34% 17%;

    --card-red: 224 71% 4%;
    --card-foreground-red: 213 31% 91%;

    --primary-red: 210 40% 98%;
    --primary-foreground-red: 222.2 47.4% 1.2%;

    --secondary-red: 222.2 47.4% 11.2%;
    --secondary-foreground-red: 210 40% 98%;

    --destructive-red: 0 63% 31%;
    --destructive-foreground-red: 210 40% 98%;

    --ring-red: 216 34% 17%;

    --radius-red: 0.5rem;
  }
}

@layer base {
  * {
    @apply redshield-border-border;
  }
}
